main {
  display: block;
  margin: auto;
}

.box {
  width: 370px;
  height: 326px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  color: #000;
  text-align: center;
  transform: translateY(50%);
  margin: auto;
  box-sizing: border-box;
  padding: 16px;
}

.myBtn {
  background-color: #FFCE22;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 20px;
  margin: auto;
  width: 340px;
  height: 40px;
}