/* 
Main Box Styling
*/
.box {
  width: 370px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  color: #000;
  text-align: center;
  transform: translateY(50%);
  margin: auto;
  box-sizing: border-box;
  padding: 16px;
}

.myBtn {
  background-color: #FFCE22;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 20px;
  margin: 10px auto;
  width: 340px;
  height: 40px;
  border-radius: 8px;
}

.myBtn:hover {
  background-color: #FFD84D;
}

/* 
Checkbox Styling
*/

/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  right: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* 
Pages items Styling
*/
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
Pages items Styling
*/
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
Spacing
*/
.spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 
Horizontal Rule Styling
*/
hr {
  color: #CDCDCD;
  width: 340px;
  border: solid 0.7px #CDCDCD;
}